body {
  text-align: center;
}

h1 {
  font: 30px Verdana, sans-serif;
  margin: 5px;
}

#imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#targetContainer {
  font: 30px Georgia;
  border-radius: 20px;
  width: 35%;
  margin: 5px auto;
}
